.home-container {
  padding-left: 40px;
  padding-top: 27px;
  font-size: 20px;
}

.start-button {
  color: #fff;
  margin-top: 27px;
}

.home-container-titulo {
  width: 423px;
}

.home-container-titulo h4 {
  width: 423px;
  margin: 0;
  padding: 0;
  font-size: 2em;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

.home-container-titulo p {
  width: 423px;
  font-size: 1em;
  color: #7e7e7e;
  font-weight: bold;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}
