.result-container {
    background-color: #fff;
    width: 95%;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;

}

.result-title {
  color: #737373;
}

.result-container h3{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}

.result-description {
  color: #515151;
  font-size: 14px;
  margin: 5px;
}