.cep-search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #E5E5E5;
}

.cep-search-container h3 {
  font-weight: bold;
  align-items: flex-start;
  font-size: 38px;
  font-weight: 500;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 30px 40px;
  background-color: #E6F7FF;
  border-radius: 16px; 
  margin-top: 50px; 
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.search-input {
  background-color: #fff;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  height: 40px;
  width: 240px;
  margin-bottom: 25px;
}

.search-input::placeholder {
  color: #d3cccc;
  text-align: left;
  padding-left: 15px;
}

.search-button {
  height: 40px;
  width: 160px;
  margin-bottom: 35px;
  color: #fff;
}


@media (min-width: 576px) {
    .search-input {
        width: 480px;
    }
}
